---
// ChartsSection.astro - Displays the charts section
---
<section id="charts" class="content-section">
  <div class="section-container">
    <h2 class="section-title">Dynamic Charts</h2>
    <p class="section-description">This section will contain various dynamic charts visualizing the project data and results. Placeholder for now.</p>
    <div class="placeholder-box">Chart Area 1</div>
    <div class="placeholder-box">Chart Area 2</div>
  </div>
</section> 